.cardsWrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 4rem;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  font-size: 25px;
  margin-left: 5px;
}

.SearchInput {
  height: 35px;
  padding: 5px;
  border-radius: 5px;
}

.SearchInput:focus {
  outline: none;
}
